<div class="todo-card">
    <header>
        <h1>{{title}}</h1>
    </header>
    <form class="todo-input-form" (submit)="addToDo()">
        <div class="todo-datetime">
            <mat-form-field class="todo-date" appearance="fill">
                <mat-label>Choose a deadline</mat-label>
                <input matInput [matDatepicker]="picker" name="inputDate" [(ngModel)]="inputDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
            <div class="todo-time"><ngx-mat-timepicker-field name="inputTime" [(ngModel)]="inputTime"></ngx-mat-timepicker-field></div>
        </div>

        <input
            class = "todo-content"
            type = "text"
            name = "inputToDo"
            placeholder = "Enter an event..."
            [(ngModel)] = "inputToDo"
        />
        <input class="todo-submit" type="image" src="./../../assets/plus-icon.png" alt="Submit"/>

    </form>
    
    <div class="todos" *ngFor = "let todo of todos; let i = index;">
        <div class='todo {{ (todo.completed ? "done" : "") }}'>
            <div class="id">{{i}}</div>
            <div class="datetime">{{todo.strdatetime}}</div>
            <div class="content">{{todo.content}}</div>
            <button class="btn" (click)="toggleDone(i)"><img src="./../../assets/checkmark-icon.png"/></button>
            <button class="btn" (click)="delToDo(i)"><img src="./../../assets/trash-icon.png"/></button>
        </div>
    </div>
</div>

<!-- ---------------------------------------------------------------------------------- -->

<div class="cal-view">

    <div class="cal-header">
        <div class="col-md-4">
            <div class="btn-group">
                <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                    &lt;
                </div>
                <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                    Today
                </div>
                <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                    &gt;
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>

        <div class="col-md-4">
            <div class="btn-group">
                <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                    Month
                </div>
                <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                    Week
                </div>
                <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                    Day
                </div>
            </div>
        </div>

    </div>

    <div [ngSwitch]="view">

        <mwl-calendar-month-view (dayClicked)="dayClicked($event.day)" *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events">
        </mwl-calendar-month-view>

        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events">
        </mwl-calendar-week-view>

        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events">
        </mwl-calendar-day-view>

    </div>

</div>